snippet header "Header" b
///////////////////////////////////////////////////////////
//
//  ${1:Project name}
//
//	Created by ${2:`echo $USER`} at `LANG=C date`
//
///////////////////////////////////////////////////////////

endsnippet
